# Environment variables / secrets
.env

# Python virtual environments
.venv/
venv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo

# Package/build files
*.egg-info/
build/
dist/

# Logs
*.log
logs/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db